<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>登录页</title>
		<link rel="stylesheet" href="css/login/index.css" />
		<script type="text/javascript" src="js/main/jquery-3.4.1.min.js"></script>
	</head>
	<body>
		<div id="main">
			<div id="container">
			<form action="check" method="get">
			<div><input id="username" name="loginName" type="text" maxlength="16" value="请输入用户名"/></div>
			<div><input id="password" name="loginKey" maxlength="16" value="************"/></div>
			<div>
				<button id="login" type="submit" value="Submit">登录</button>
			</div>
			</form>
		</div>
		
		<script type="text/javascript" src="js/login/index.js"></script>
	</body>
</html>
